@media only screen and (min-width: 70rem) {

    nav a {
        font-size: 1.3rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-left: 100px;
        margin-right: 100px;
        grid-gap: 10px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .hero {
        max-width: 100%;
        height: auto;
        grid-column: 2/3;
        grid-row: 1/3;
        box-shadow: 0 0 10px #8D9EC6;
    }

    .hero h2 {
        position: absolute;
        margin-left: 25px;
        font-size: xx-large;
        color: #01295F;
        text-shadow: 0 0 5px #01295F;
    }

    .event {
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: #01295F;
        box-shadow: 0 0 10px #01295F;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: #01295F;
        box-shadow: 0 0 10px #01295F;
    }

    .sun {
        font-size: 50px;
        color: white;
        text-align: center;
    }

    .speed {
        color: white;
        font-size: large;
        text-align: center;
    }

    .chill {
        color: white;
        font-size: large;
        text-align: center;
    }

    .join {
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: #01295F;
        box-shadow: 0 0 10px #01295F;
    }

    .join p {
        color: white;
        text-align: center;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 30px;
        font-size: large;
    }

    .news {
        grid-column: 2/3;
        grid-row: 3/4;
        background-color: #01295F;
        box-shadow: 0 0 10px #01295F;
    }

    .news p {
        color: white;
        text-align: center;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 10px;
        font-size: large;
    }

    .spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
        background-color: #01295F;
        box-shadow: 0 0 10px #01295F;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .one {
        grid-row: 1/2;
    }

    .two {
        grid-row: 2/3;
    }

    .three {
        grid-row: 3/4;
    }

    .upperfooter {
        display: flex;
        justify-content: space-around;
    }

    .fleft {
        justify-content: left;
    }

    h3 {
        text-align: center;
        color: yellow;
        text-shadow: 0 0 10px yellow;
    }

    #join {
        color: white;
        background-color: #50A050;
        text-shadow: none;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 10px;
        padding-top: 15px;
        height: 35px;
    }

    hr {
        width: 90%;
    }
}