body {
    background-color: grey;
}

nav {
    display: block;
}

nav button {
    margin: .2rem 3vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: beige;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}



nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', 'sans-serif';
}

nav div {
    flex: 1 1 auto;
}

nav a {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    background-color:  rgba(0,0,0,0.3);
    color: beige;
}

.logo {
    width: 14%
}

.upper {
    display: flex;
    background-color: #254D32;
    padding: 1rem;
    font-size: x-large;
    color: beige;
    font-family: 'Lora', 'sans-serif';
    justify-content: space-between;
}

header h1 {
    text-align: center;
}

header h3 {
    text-align: center;
}

.date {
    text-align: center;
    font-size: x-large;
    background-color: #21432d;
    color: beige;

}



footer {
    text-align: center;
    background-color: #254D32;
    font-size: large;
    padding: 1rem;
    color: beige;
    font-family: 'Lora', 'sans-serif';
}

footer .logo {
    width: 15%;
}

#lastModified {
	text-align: center;
	font-size: smaller;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 2fr 4fr 1fr;
    grid-gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hero {
    max-width: 100%;
    height: auto;
    grid-row: 1/2;
    box-shadow: 0 0 10px #8D9EC6;
}

.hero h2 {
    position: absolute;
    margin-left: 25px;
    font-size: xx-large;
    color: #01295F;
    text-shadow: 0 0 5px #01295F;
}

.upperfooter {
    display: flex;
    justify-content: space-around;
}

.fleft {
    justify-content: left;
}

.event {
    grid-row: 2/3;
    background-color: #01295F;
    box-shadow: 0 0 10px #01295F;
}

.weather {
    grid-row: 3/4;
    background-color: #01295F;
    box-shadow: 0 0 10px #01295F;
}

.sun {
    font-size: 40px;
    color: white;
}

.join {
    grid-row: 6/7;
    background-color: #01295F;
    box-shadow: 0 0 11px #01295F;
}

.join p {
    color: white;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
    font-size: large;
}

.news {
    grid-row: 4/5;
    background-color: #01295F;
    box-shadow: 0 0 10px #01295F;
}

.news p {
    color: white;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    font-size: large;
}

.spotlights {
    grid-row: 5/6;
    background-color: #01295F;
    box-shadow: 0 0 10px #01295F;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.one {
    grid-row: 1/2;
}

.two {
    grid-row: 2/3;
}

.three {
    grid-row: 3/4;
}

h3 {
    text-align: center;
    color: yellow;
    text-shadow: 0 0 10px yellow;
}

#join {
    color: white;
    background-color: #50A050;
    text-shadow: none;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    padding-top: 15px;
    height: 35px;

}

img[data-src] {
    filter: blur(0.2em);
}

picture {
    filter: blur(0em);
    transition: filter 0.5s;
}

.discoverpics {
    grid-row: 2/7;
    text-align: center;
    background-color: #01295F;
    box-shadow: 0 0 10px #01295F;
    color: beige;
}

.statistics {
    grid-row: 1/2;
    background-color: #01295F;
    box-shadow: 0 0 10px #01295F;
    margin-bottom: 100px;
    color: beige;
    text-align: center;
    font-size: larger;
}